// [COLORS]
$contrast : #FF0077;
$contrast-dark : darken(#FF0077, 15%);
$contrast-light : lighten(#FF0077, 15%);


// [HEIGHTS]
// Header
$header-height: 64px;

// Manage Section
$tabs-navigator-height: 48px;
$item-list-margin-bottom: 15px;