// bower:scss
// endbower

// [DIRECTIVES : begin]
@import "directives/_element-viewer.scss";
@import "header.scss";
// [DIRECTIVES : end]

body {
  padding: 0;
}

.item {
    height: 50px;
    background: #eee;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mdl-grid {
    padding: 0;
}


.add-article {
    display: flex;
    margin-top: 30px;
}

.mdl-layout__container {
    position:relative;
}