// bower:scss
// endbower

// [DIRECTIVES : begin]
@import "directives/_element-viewer.scss";
@import "header.scss";
// [DIRECTIVES : end]

body {
  padding: 0;
}

.item {
    height: 50px;
    background: #eee;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.selected-mode-item {
        border: 1px solid grey;
        transition:.7s;
    }

    &.selected-item {
        border: 1px solid blue;
    }
}

.footer--wri {
    position:fixed;
    background: white;
    bottom: 0;
    width: 100%;
}

.selected-mode-background {
    background: white;
}

.mdl-grid {
    padding: 0;
}


.add-article {
    display: flex;
    margin-top: 30px;
}

.mdl-layout__container {
    position:relative;
}

.content-layout {
    margin-top: 100px;
}

.selection-panel {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 99;
    height: 100px;
    width: 300px;
    background: white;
    overflow: auto;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
    
    .list-panel {
        overflow-y: auto;
        height: 80px;
    }

    .actions {
        position: absolute;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        bottom: 0;
        height: 60px;
        width: 100%;
        background: #313231;
        color: grey;
        
        & i:hover {
            color:white;
            cursor: pointer;
        }
    }
}

.content-wri-app-background {
    background: white;
}