.ngdialog.ngdialog-theme-default.wri_dialog {

    .ngdialog-overlay {
        margin-right: 0;
    }

    .ngdialog-content {
        padding: 0;
        border-radius: 0;
        background: transparent;
    }

    .mdl-dialog {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        min-height: 250px;
        background: white;

        .mdl-dialog__title {
            font-size: 25px;
        }

        .mdl-dialog__content p {
            font-weight: bold;
        }
    }
}