span {
    &.wri_form__textfield, &.wri_form__datefield, &.wri_form__numberfield {
        width: initial; 
    }
}
.wri_form__textfield, .wri_form__datefield, .wri_form__numberfield {
    &.--no-focus input {
        border: none;
        
        &:focus {
            outline: none;
        }
    }
}
.wri_form__textfield {
    position: relative; 
    // padding: 0;
    
    &:not(.--no-focus) input {
        + label {
            &:before {
                content :'';
                position: absolute;
                top: 24px;
                left: 0;
                height: 1px;
                width: 100%;
                background-color: #E0E0E0;
            }

            &:after {
                visibility: visible;
                content :'';
                position: absolute;
                left: 0;
                top: 24px;
                height: 2px;
                width: 100%;
                background-color: $primary;
                transform: scaleX(0);
                transition: transform .3s ease-in-out;
            }
        }

        &:focus {
            outline: none;
            
            + label {
                &:after {
                    transform: scaleX(1);
                }
            }
        }
    }

    &.--icon {
        &:before {
            display: inline-block;
            position: absolute;
            top: 50%;
            right: 100%;
            vertical-align: middle;
            margin-right: 20px;
            font-family: 'Material Icons';
            font-size: 24px;
            color: #A3A3A7;
            transform: translateY(-50%);
        }
    }
}