.--wri_full-height {
    height: 100%;
}

.--wri_scrollY-area {
    @extend .--wri_full-height;
    overflow-y: auto;
}

.--wri_interactive {
    cursor: pointer;
}

.--wri_text-right {
    text-align: right;
}

.--wri_disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}

// COLORS
.--wri_background--primary-dark {
    background: $primary-dark;
}
.--wri_background--primary {
    background: $primary;
}
.--wri_background--primary-light {
    background: $primary-light;
}
.--wri_background--contrast-dark {
    background: $contrast-dark;
}
.--wri_background--contrast-light {
    background: $contrast-light;
}
.--wri_background--contrast {
    background: $contrast;
}

.--wri_foreground--primary-dark {
    color: $primary-dark;
}
.--wri_foreground--primary {
    color: $primary;
}
.--wri_foreground--primary-light {
    color: $primary-light;
}
.--wri_foreground--contrast-dark {
    color: $contrast-dark;
}
.--wri_foreground--contrast-light {
    color: $contrast-light;
}
.--wri_foreground--contrast {
    color: $contrast;
}