.wri_linked-in {
    background-color: #fff;
    -webkit-mask-image: url('../assets/icons/linkedin-box.svg');
    mask-image: url('../assets/icons/linkedin-box.svg');
    display: inline-block;
    height: 24px;
    width: 24px;
    vertical-align: middle;
}