body {
    overflow: hidden;
    height: 100%;
    background: rgba(#eee, 0.3);
    font-family: 'Lato', sans-serif;
}
.mdl-tabs__tab-bar{
    background: #fff;

    a {
        text-decoration: none;
        transition: color 150ms linear;
        &:hover {
            color :  $primary;
        }
        &:active {
            color :  $primary;
        }
    }
}
.mdl-grid {
    padding: 0;
}

.mdl-layout__container{
    position: relative;
}

a {
    cursor: pointer;
    color: $contrast;
    &:hover {
        color :  $contrast-dark;
    }
    &:active {
        color :  $contrast-light;
    }
}

.mdl-button--fab.--wri_background--contrast, .mdl-button.--wri_background--contrast{
    &:hover, &:active, &:focus {
        background: $contrast;
    }
}

p {
    margin: 0;
    font-size: 15px;
}

.mdl-textfield__input {
    border: none;
}

::-webkit-scrollbar {
    border: none;
    background: transparent;
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb{
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    background-color: rgba(#7c7c7c, 0.7);

    &:hover {
        background-color: #7c7c7c;
    }
}

::-webkit-inner-spin-button {
    display: none;
}

// ::-webkit-resizer {
//     background-image: url("../assets/icons/expand.svg");
//     cursor: se-resize;
// }
#loading-bar .bar {
    background: $contrast;
}
#loading-bar-spinner .spinner-icon {
    border-top-color: $contrast;
    border-left-color: $contrast;
}