body {
    overflow: hidden;
    height: 100%;
}

.mdl-grid {
    padding: 0;
}

a {
    cursor: pointer;
    
    &:hover {
        color :  $contrast-dark;
    }
    &:active {
        color :  $contrast-light;
    }
}