<div class="mdl-textfield mdl-js-textfield" >

   <!-- NAME -->
    <input class="mdl-textfield__input" 
           ng-model="searchNote.name" 
           ng-change="sendFilters(searchNote)" 
           placeholder="name" 
           type="text" >

    <!-- ARTICLE -->
    <input class="mdl-textfield__input" 
           ng-model="searchNote.article.name" 
           ng-change="sendFilters(searchNote)" 
           placeholder="authors" 
           type="text" >

    <!-- CONTENT -->
    <input class="mdl-textfield__input" 
           ng-model="searchNote.problematic" 
           ng-change="sendFilters(searchNote)" 
           placeholder="problematic" 
           type="text" >

    <div class="wrap-orderBy">
        <label for="orderSelect"> Order by &nbsp; : &nbsp;</label>
        <select name="orderSelect" class="orderBy" id="orderSelect" ng-model="orderValue.config" ng-options="order.name for order in orderBy" ng-change="sendOrderBy(orderValue.config.name)">
        </select>
    </div>

    <!-- RESET -->
    <div class="reset--wri">
        <button class="mdl-button mdl-js-button mdl-button--raised" ng-click="resetFiltersAndOrder()">
            RESET
        </button>
    </div>


</div>
 