<!-- NAME -->
<div class="wri_form__textfield mdl-textfield">
    <input 
        type="text"
        id="filter-article-title" 
        class="mdl-textfield__input" 
        ng-model="searchArticle.name" 
        ng-change="sendFilters(searchArticle)"
        placeholder="Title..." >
    <label class="mdl-textfield__label" for="filter-article-title"></label> 
</div>

<!-- AUTHORS -->
<div class="wri_form__textfield mdl-textfield">
    <input 
        type="text"
        id="filter-article-authors" 
        class="mdl-textfield__input" 
        ng-model="searchArticle.authors.name" 
        ng-change="sendFilters(searchArticle)"
        placeholder="Author..." >
    <label class="mdl-textfield__label" for="filter-article-authors"></label> 
</div>

<!-- SCORES -->
<div class="wri_form__textfield mdl-textfield">
    <input 
        type="text"
        id="filter-article-score" 
        class="mdl-textfield__input" 
        ng-model="searchArticle.score" 
        ng-change="sendFilters(searchArticle)"
        placeholder="Score..." >
    <label class="mdl-textfield__label" for="filter-article-score"></label> 
</div>

<!-- KEYWORDS -->
<div class="wri_form__textfield mdl-textfield">
    <input 
        type="text"
        id="filter-article-keywords" 
        class="mdl-textfield__input" 
        ng-model="searchArticle.keywords" 
        ng-change="sendFilters(searchArticle)"
        placeholder="Keywords..." >
    <label class="mdl-textfield__label" for="filter-article-keywords"></label> 
</div>

<!-- REFERENCES -->
<div class="wri_form__textfield mdl-textfield">
    <input 
        type="text"
        id="filter-article-references" 
        class="mdl-textfield__input" 
        ng-model="searchArticle.references.name" 
        ng-change="sendFilters(searchArticle)"
        placeholder="References..." >
    <label class="mdl-textfield__label" for="filter-article-references"></label> 
</div>

<!-- NOTES -->
<!-- <div class="wri_form__textfield mdl-textfield">
    <input 
        type="text"
        id="filter-article-notes" 
        class="mdl-textfield__input" 
        ng-model="searchArticle.notes.text" 
        ng-change="sendFilters(searchArticle)"
        placeholder="Note Content..." >
    <label class="mdl-textfield__label" for="filter-article-notes"></label> 
</div> -->
