<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <main class="mdl-layout__content --wri_scrollY-area" ng-class="{'--edit-mode': articleViewer.editMode}">
        <div class="wri_article__main-informations">
            <div class="wri_article__main-informations__category mdl-shadow--4dp --wri_article-problematic">
                <div class="wri_article__main-informations__inside">
                    <div class="wri_article__main-informations__title">
                        <span>Problematic</span>
                    </div>
                    <textarea class="mdl-textfield__input" type="text" id="question-problematic" ng-model="questionEdit.problematic" placeholder="The problematic presented in the article..."></textarea>
                </div>
            </div>
        </div>
        <div class="wri_article__main-informations">
            <div class="wri_article__main-informations__category mdl-shadow--4dp --wri_article-solution">
                <div class="wri_article__main-informations__inside">
                    <div class="wri_article__main-informations__title">
                        <span>Solution</span>
                    </div>
                    <!-- <textarea class="mdl-textfield__input" type="text" id="question-text" ng-model="questionEdit.text" placeholder="The soluce presented in the article..."></textarea> -->
                    <text-angular-toolbar name="toolbar2"></text-angular-toolbar>
        
                    <text-angular ta-target-toolbars='toolbar2' ng-model="questionEdit.answer">
                    </text-angular>
                </div>
            </div>
        </div>
    </main>
    <footer ng-if="questionViewer.editMode">
        <div class="wri_article-viewer__footer__actions mdl-shadow--8dp">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent wri_article-viewer__footer__actions__action" ng-class="{'--wri_disabled': questionViewer.problematic == null || questionViewer.problematic == ''}" ng-disabled="questionViewer.problematic == null || questionViewer.problematic == ''" ng-click="questionViewer.createQuestion()">
                Create
            </button>
        </div>
    </footer>
</div>