<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <div class="wri_article-title">
                <span class="mdl-layout__title --little-padding">Question {{questionViewer.editMode ? "Editor" : "Viewer"}}</span>
            </div>
        </div>
        <div class="mdl-layout__header-row mdl-color--primary-dark interactive-row" ng-class="{'wri_editor__text-toolbar': questionViewer.editMode}">
            <div ng-if="!questionViewer.editMode" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent edit-button" ng-click="questionViewer.turnEditMode()">
                <i class="material-icons">edit</i>
                <span class="mdl-button__ripple-container">
                    <span class="mdl-ripple"></span>
                </span>
            </div>
            <text-angular-toolbar 
                class="wri_text-toolbar" 
                ng-if="questionViewer.editMode" 
                ta-toolbar="questionViewer.textToolbar"
                name="question-toolbar">
            </text-angular-toolbar> 
        </div>
    </header>
    <main class="mdl-layout__content --wri_scrollY-area" ng-class="{'--edit-mode': questionViewer.editMode}">
        <section>
            <div class="wri_article__main-informations">
                <div class="wri_article__main-informations__category mdl-shadow--4dp --wri_article-problematic">
                    <div class="wri_article__main-informations__inside">
                        <div class="wri_article__main-informations__title">
                            <span>Question</span>
                        </div>
                        <text-angular 
                            ta-target-toolbars="question-toolbar" 
                            ta-focussed-class="no-style" 
                            ng-if="questionViewer.editMode"
                            ng-model="questionViewer.questionTmp.problematic">
                        </text-angular>
                        <div 
                            class="wri_note-viewer__note-content"
                            ng-if="!questionViewer.editMode"
                            ng-bind-html="questionViewer.question.problematic">
                        </div>
                    </div>
                </div>
            </div>
            <div class="wri_article__main-informations">
                <div class="wri_article__main-informations__category mdl-shadow--4dp --wri_article-solution">
                    <div class="wri_article__main-informations__inside">
                        <div class="wri_article__main-informations__title">
                            <span>Answer</span>
                        </div>
            
                        <text-angular 
                            ta-target-toolbars="question-toolbar" 
                            ta-focussed-class="no-style" 
                            ng-if="questionViewer.editMode"
                            ng-model="questionViewer.questionTmp.answer">
                        </text-angular>
                        <div 
                            class="wri_note-viewer__note-content"
                            ng-if="!questionViewer.editMode"
                            ng-bind-html="questionViewer.question.answer">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer ng-if="questionViewer.editMode">
        <div ng-if="!questionViewer.question.id" class="wri_article-viewer__footer__actions --creating mdl-shadow--8dp">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent wri_article-viewer__footer__actions__action --create" ng-class="{'--wri_disabled': questionViewer.questionTmp.problematic == null || questionViewer.questionTmp.problematic == ''}" ng-disabled="questionViewer.questionTmp.problematic == null || questionViewer.questionTmp.problematic == ''" ng-click="questionViewer.createQuestion()">
                Create
            </button>
        </div>
        <div ng-if="questionViewer.question.id != null" class="wri_article-viewer__footer__actions --updating mdl-shadow--8dp">
            <div>
                <button  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect wri_article-viewer__footer__actions__action --delete" ng-click="questionViewer.deleteQuestion()">
                    Delete
                </button>
            </div>
            <div>
                <button ng-if="questionViewer.question.id != null" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect wri_article-viewer__footer__actions__action" ng-click="questionViewer.cancelEdition()">
                    Cancel
                </button>
                <button ng-if="questionViewer.question.id != null" ng-class="{'--wri_disabled': questionViewer.question.problematic == null || questionViewer.question.problematic == ''}" ng-disabled="questionViewer.question.problematic == null || questionViewer.question.problematic == ''"   class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent wri_article-viewer__footer__actions__action --update" ng-click="questionViewer.updateQuestion()">
                    Update
                </button>
            </div>
        </div>
    </footer>
</div>