<div class="--wri_full-height" ng-if="viewerDrawer.element != null" ng-switch="viewerDrawer.type">
    <article-viewer ng-switch-when="article" article="viewerDrawer.element" edit-mode="viewerDrawer.editMode"></article-viewer>
    <div class="wri_empty-viewer --wri_full-height" ng-switch-default>Vous ne pouvez pas afficher de {{viewerDrawer.type}} dans ce viewer</div>
</div>

<div class="--wri_full-height" ng-if="!viewerDrawer.element">
    <div class="wri_empty-viewer --wri_full-height">No item selected</div>
</div>