// [COLORS]
$primary : #0E2E4C;
$primary-dark: #05213B;
$primary-light: lighten(#0E2E4C, 15%);

$contrast : #FFA821;
$contrast-dark : darken(#FFA821, 15%);
$contrast-light : lighten(#FFA821, 15%);

// $primary : #3f51b5;
// $primary-dark: #303f9f;
// $primary-light: lighten(#3f51b5, 15%);

// $contrast : #FF0077;
// $contrast-dark : darken(#FF0077, 15%);
// $contrast-light : lighten(#FF0077, 15%);


// [HEIGHTS]
// Header
$header-height: 64px;

// Manage Section
$tabs-navigator-height: 48px;
$item-list-margin-bottom: 15px;