article-viewer {
    %flex-row-between-center {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    ::-webkit-input-placeholder {
        color: rgba(rgb(124, 125, 129), 0.7);
    }
    .wri_viewer__menu-icon {
        position: absolute;
        z-index: 4;
        right: 10px;
        top: 10px;
        color: white;
    }
    .mdl-layout__header {
        .mdl-layout__header-row {
            padding-left: 40px;

            .wri_article-title{
                width: 100%;

                .wri_form__textfield{
                    width: 100%;
                    input{
                        padding-top: 20px;
                        line-height: 1.1em;
                        font-size: 1.5em;
                    }
                }
            }
    
            > * {
                -webkit-flex-shrink: initial;
                -ms-flex-negative: initial;
                flex-shrink: initial;
            }
    
            .mdl-layout__title {
                align-self: center;
                padding-top: 20px;
                line-height: 1.1em;
                font-size: 1.7em;
            }

            ::-webkit-input-placeholder {
                color: rgba(white, 0.7);
            }
            
        }
        .wri_article-infos {
            @extend %flex-row-between-center;
            width: 100%;
    
            .wri_article-publication-details {
                @extend %flex-row-between-center;
                flex:9;
            }
    
            .wri_article-score {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                flex: 3;
                text-align: center;
                font-size: 20px;
    
                .material-icons {
                    color: #FFA600;
                    font-size: inherit;
                }
            }
        }
    
        .interactive-row {
            position: relative;
            justify-content: flex-end;
            padding: 0px 10px;
            height: 48px;
    
            .edit-button {
                position: absolute;
                top: 50%;
                left: 5%;
                z-index: 1;
            }
    
            .wri_article-viewer__status-list {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin: 0;
                min-width: 310px;
                width: 25%; // for desktop
    
                .mdl-button, .mdl-chip.mdl-chip--contact {
                    border: 1px solid #ffffff;
                    color: #ffffff;
                    background: transparent;
                    cursor: pointer;
                    transition: background 0.2s linear; 

                    .mdl-chip__contact {
                        margin-left: -3px;
                        margin-top: -1px; 
                        height: 34px;
                        width: 34px;
                        line-height: 34px;
                        background: #c5c5c5;
                        transition: background 0.2s linear;

                        .material-icons {
                            font-size: 0.9em;
                            vertical-align:middle;
                            color: white;
                        }
                    }
    
                    &.status-checked {
                        background: #DEDEDE;
                        border: 1px solid transparent;
                        color: #000;
                        transition: background 0.2s linear, color 0.2s linear; 

                        .mdl-chip__contact {
                            background: #07ca00;
                            transition: background 0.2s linear; 

                        }
                        .material-icons {
                            color: white;
                            transition: color 0.2s linear;
                        }
                    }
                }
    
            }
        }
    }

    .mdl-layout__content {
        &:not(.--edit-mode) {
            padding-top: 40px;
        }

        section {
            position: relative;
            padding: 15px 20px;
            margin: 10px 0;

            &:not(:last-child){
                border-bottom: 1px solid rgb(195, 195, 195);
            }
            .wri_article__section__counter {
                margin: 25px 0;
                text-align: center;
                font-style: italic;
                color: #636363;
            }
            .wri_article__section__action {
                text-align: right;
            }
        }

        .wri_article__section__header {
            .wri_article__section__header__title {
                margin-left: 15px;
                font-size: 1.3em;                
            }
            .wri_article__section__header__show-all {
                position: relative;
                float: right;

                &:after {
                    content :'';
                    position: absolute;
                    top: 100%;
                    height: 1px;
                    width: 100%;
                    background-color: $contrast;
                    transform: scaleX(0);
                    transition: transform .3s ease-out;
                }

                &:hover {
                    &:after {
                        background-color: $contrast-dark;
                        transform: scaleX(1);
                        transition: transform .3s ease-in;
                    }
                }

                &:active {
                    &:after {
                        background-color: $contrast-light;
                    }
                }
            }
        }

        .wri_article__main-informations {
            position: relative;

            .wri_article__main-informations__category {
                position: relative;
                margin-bottom: 15px;
    
                &:before {
                    content: '';
                    display:block;
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    background: none;
                }
                &:after {
                    content: '';
                    display:block;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 25px;
                    height: 25px;
                    background: none;
                }
    
                .wri_article__main-informations__inside {
                    padding: 15px;

                    textarea {
                        border-bottom: white;
                        min-height: 50px;
                        margin-top: 10px;
                        padding-left: 0;
                        width: calc(100% - 5px);

                        &:focus {
                            outline: none;
                        }
                    }
    
                    .wri_article__main-informations__title {
                        font-size: 1.3em;
                    }
    
                    .wri_article__main-informations__value {
                        margin: 0;
                        padding-left: 15px;
                        margin-top: 10px;
                    }
                }
                @each $category, $color in (problematic: #b11e1e, solution: #109510, abstract: #3374c8) {
                    &.--wri_article-#{$category} {
                        &:before {
                            border-left: 1px solid $color;
                            border-top: 1px solid $color;
                        }
                        &:after {
                            border-right: 1px solid $color;
                            border-bottom: 1px solid $color;
                        }
    
                        .wri_article__main-informations__title {
                            color: $color;
                        }
                    }
                }
            }

            .wri_article__main-informations__action {
                .wri_article__main-informations__action__toggle-abstract {
                    text-align: center;

                    > a {
                        cursor: pointer;
                    }
                }
            } 
        }

        .wri_article__authors {
            .wri_article__authors__list {
                list-style: none;

                .wri_article__authors__list__author {
                    display: inline-block;
                    margin: 5px;

                    cursor: pointer;
                }
            }
        }
        
        .wri_article__keywords {
            .wri_article__keywords__inside {
                display:flex;
                flex-direction: column;
            }
            .wri_article__keywords__list {
                list-style: none;

                .wri_article__keywords__list__keyword {
                    display: inline-block;
                    margin: 5px;

                    cursor: pointer;
                }
            }
            .wri_form__textfield {
                align-self: center;
            }

            .selectize-control.multi .selectize-input { 
                position: relative;
                border: none;
                box-shadow: none;
                padding-bottom: 10px;

                &:before {
                    visibility: visible;
                    content :'';
                    position: absolute;
                    left: 0;
                    bottom: 2px;
                    height: 1px;
                    width: 100%;
                    background-color: #E0E0E0;
                }
                
                &:after {
                    visibility: visible;
                    content :'';
                    position: absolute;
                    left: 0;
                    bottom: 2px;
                    height: 2px;
                    width: 100%;
                    background-color: $primary;
                    transform: scaleX(0);
                    transition: transform .3s ease-in-out;
                }

                &.input-active {
                    outline: none;

                    &:after {
                        transform: scaleX(1);
                    }
                }

                input[type="text"]{
                    height: 32px;
                    line-height: 32px !important;
                    font-size: 14px;
                    vertical-align: bottom;
                }

                .mdl-chip[data-value] {
                    text-shadow: none;
                    -webkit-border-radius: initial;
                    -moz-border-radius: initial;
                    border-radius: initial;
                    background-image: none;
                    filter: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;

                    // Overridding with mdl-chip style

                    height: 32px;
                    font-family: "Roboto","Helvetica","Arial",sans-serif;
                    line-height: 32px;
                    padding: 0 12px;
                    border: 0;
                    border-radius: 16px;
                    background-color: #dedede;
                    display: inline-block;
                    color: rgba(0,0,0,.87);
                    margin: 2px;
                    font-size: 0;
                    white-space: nowrap;
                }
            }
        }

        .wri_article__references {
            .wri_article__references__list {
                list-style: none;

                .wri_article__references__list__reference {
                    display: block;
                    margin: 5px 0;

                    cursor: pointer;

                    .mdl-chip {
                        border-radius: initial;
                        max-width: calc(100% - 12px);

                        .mdl-chip__text {
                            overflow: hidden;
                            width: 100%;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }

        .wri_article__notes {
            .wri_article__notes__list {
                list-style: none;

                .wri_article_notes_list_note {
                    display: block;
                    margin: 10px 0;
                    min-height: 50px;
                    width: 100%;

                    .mdl-card__supporting-text {
                        padding-bottom: 30px;
                    }
                }
            }
        }
    }
    
    footer {
        box-shadow: 0 0 10px -2px rgba(0,0,0,0.4);

        .wri_article-viewer__footer__actions {
            padding: 10px 20px;
            display: flex;
            align-items: center;

            &.--creating {
                justify-content: flex-end;
            }

            &.--updating {
                justify-content: space-between;

                > div {
                    display: inline-block;
                }
            }

            .wri_article-viewer__footer__actions__action {
                &.--delete {
                    background: #ca4040;
                    color: white;
                    justify-self: left;
                }
                &.--update, &.--create  {
                    background-color: #2b9c5e;
                }

                + .wri_article-viewer__footer__actions__action {
                    margin-left: 20px;
                }
            }
        }
    }
}




/// EXTRA STYLE
.wri_article__main-informations {
    position: relative;

    .wri_article__main-informations__category {
        position: relative;
        margin-bottom: 15px;

        &:before {
            content: '';
            display:block;
            position: absolute;
            width: 25px;
            height: 25px;
            background: none;
        }
        &:after {
            content: '';
            display:block;
            position: absolute;
            right: 0;
            bottom: 0;
            width: 25px;
            height: 25px;
            background: none;
        }

        .wri_article__main-informations__inside {
            padding: 15px;
            background: white;

            textarea {
                border-bottom: white;
                min-height: 50px;
                margin-top: 10px;
                padding-left: 0;
                width: calc(100% - 5px);

                &:focus {
                    outline: none;
                }
            }

            .wri_article__main-informations__title {
                font-size: 1.3em;
            }

            .wri_article__main-informations__value {
                margin: 0;
                padding-left: 15px;
                margin-top: 10px;
            }
        }
        @each $category, $color in (problematic: #b11e1e, solution: #109510, abstract: #3374c8) {
            &.--wri_article-#{$category} {
                &:before {
                    border-left: 1px solid $color;
                    border-top: 1px solid $color;
                }
                &:after {
                    border-right: 1px solid $color;
                    border-bottom: 1px solid $color;
                }

                .wri_article__main-informations__title {
                    color: $color;
                }
            }
        }
    }
}