element-filter {
    .wri_filter {
        padding: 20px;
        background: white;
    }

    .wri_form__textfield {
        padding: 10px;

        .mdl-textfield__input {
            padding:0;
        }
    }

    .reset--wri {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }
    .mdl-textfield {
        // height: 410px;
        // width: 200px;
        

        .mdl-textfield__input {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            justify-content: space-around;
            padding: 10px 0;


            
        }

            .wrap-orderBy {
                padding: 10px 0;

                .orderBy {
                    width: 50%;
                }
            }

    }
    
}