<div class="mdl-dialog mdl-shadow--24dp">
    <h4 class="mdl-dialog__title">Confirm</h4>
    <div class="mdl-dialog__content">
        <p>
        Are you sure you want to {{ngDialogData.message}} ?
        </p>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button mdl-js-button --wri_foreground--primary-light" ng-click="confirm(1)">Agree</button>
        <button type="button" class="mdl-button close" ng-click="closeThisDialog(0)">Disagree</button>
    </div>
</div>