<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col">
    </div>
    <div class="mdl-cell mdl-cell--5-col">
        <div class="item" ng-class="{'selected-mode-item': isModeSelectionArticleOn, 'selected-item': article.isSelectedForReference}"
            ng-repeat="article in articlesCtrl.articles" ng-click="articlesCtrl.sendArticle(article)">{{article.name}} with id: {{article.id}}</div>

        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored add-article" ng-click="articlesCtrl.addArticle()">
            <i class="material-icons">add</i>
        </button>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
        <div class="article-viewer">
            <element-viewer type="{{selectedElementType}}" ng-hide="viewerOpen" element="selectedElement" isViewerOpen="openViewer"></element-viewer>
        </div>
    </div>
</div>
<div class="selection-panel" ng-if="isModeSelectionArticleOn">
    <div>
      <!--  <div ng-repeat="article in articlesList">
            <span class="mdl-chip mdl-chip--contact">
                <span ng-if="!author.imageUrl" class="mdl-chip__contact mdl-color--teal mdl-color-text--white">{{article.name | limitTo: 1}}</span>
                <span class="mdl-chip__text">{{article.name}}</span>
            </span>
            <br>
        </div>        -->
        <span class="mdl-chip mdl-chip--contact">
            <span ng-if="!author.imageUrl" class="mdl-chip__contact mdl-color--teal mdl-color-text--white">{{articlesList.length}}</span>
            <span class="mdl-chip__text">References added</span>
        </span>
    </div>
    <div class="actions">
        <i class="material-icons" ng-click="articlesCtrl.saveReferences()">done</i>
        <i class="material-icons" ng-click="articlesCtrl.disableModeSelectionArticle()">clear</i>
    </div>
</div>