<div 
 class="wri_manage-select__item wri_item-list__author --wri_interactive mdl-shadow--4dp" 
 ng-class="{'--selectable': manageCtrl.selectMode, '--selected': author.isSelected,  '--active': author._id == manageCtrl.viewer.itemToShow._id}" 
 ng-repeat="author in authorsCtrl.authors | filter : filter | orderBy : order" 
 ng-click="manageCtrl.selectItem(author)">
    <i class="material-icons wri_item-list__validator" ng-if="manageCtrl.selectMode"> {{author.isSelected? "check" : "add"}}</i>
    <div class="wri_item-list__author__picture">
        <div 
            class="wri_item-list__author__picture-content" 
            ng-class="{'--no-picture': !author.photoUrl || author.photoUrl == ''}" 
            style="background-image: url({{author.photoUrl}});">
        </div>
    </div>
    <div class="wri_item-list__author__identity">
        <h4 class="wri_item-list__authors__identity__name">{{author.name}}</h4>
        <p class="wri_item-list__authors__identity__email">{{author.email}}</p>
    </div>
    <div class="wri_item-list__author__articles">
        <i class="material-icons">description</i>
        <span class="wri_item-list__authors__identity__articles-counter">{{author.articles.length}}</span>
    </div>
</div>

<button class="wri_manage-select__add-btn mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-shadow--8dp" ng-click="authorsCtrl.addAuthor()">
    <i class="material-icons">add</i>
</button>