<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect" style="margin-top: 70px" ng-controller="manageCtrl as manageCtrl">

    <!-- NAVIGATIONS -->
    <div class="mdl-tabs__tab-bar">
        <a href="" class="mdl-tabs__tab" ng-repeat="(key, data) in manageCtrl.manageTab" ng-click="manageCtrl.showCategory(key)">{{key}}</a>
    </div>

    <!-- ARTICLES -->
    <div class="" ng-show="manageCtrl.manageTab.articles === true" id="articles-panel" ng-controller="articlesCtrl">
        <div ng-include="'views/listItem.html'" class="wrap-item" ></div>
    </div> 

    <!-- AUTHORS -->
    <div class="" ng-show="manageCtrl.manageTab.authors === true" id="authors-panel" ng-controller="authorsCtrl">
        <div ng-include="'views/listItem.html'" class="wrap-item" ></div>
    </div> 
    
    <!-- NOTES -->
    <div class="" ng-show="manageCtrl.manageTab.notes === true" id="notes-panel" ng-controller="notesCtrl">
        <div ng-include="'views/listItem.html'" class="wrap-item" ></div>
    </div>

    <!-- QUESTIONS -->
    <div class="" ng-show="manageCtrl.manageTab.questions === true" id="questions-panel" ng-controller="questionsCtrl">
        <div ng-include="'views/listItem.html'" class="wrap-item" ></div>
    </div>    

</div>