<div class="col-lg-6 col-lg-offset-3">
    <text-angular-toolbar name="mathsForm""></text-angular-toolbar>

    <text-angular ta-target-toolbars='mathsForm' id="text-angular" ng-model="notesCtrl.noteEdit.content">
    </text-angular>
    
    
    <button class="btn" ng-click="notesCtrl.newNote(notesCtrl.noteEdit)" >New note</button> 
    <button class="btn btn-primary" ng-click="notesCtrl.saveNote(notesCtrl.noteEdit)" >Save</button> 
    <!-- <button class="btn" ng-click="notesCtrl.reload(notesCtrl.noteEdit.tex)" >RELOAD</button>  -->
    <div class="item" ng-click="notesCtrl.editNote(note)" ng-repeat="note in notesCtrl.notes">{{note.name}}</div>

    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored add-article">
        <i class="material-icons">add</i>
    </button>
</div>