<div class="wri_previewer wri_grid__col-4" ng-class="{'--wri_full-height' : ngDialogData.fullEditor}">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row --wri_background--contrast">
                <div class="wri_article-title">
                    <span class="mdl-layout__title --no-padding">{{ngDialogData.title}}</span>
                </div>
            </div>
            <div 
                ng-if="ngDialogData.fullEditor && ngDialogData.type == 'note'" 
                class="mdl-layout__header-row --wri_background--contrast-dark interactive-row wri_editor__text-toolbar">
                <text-angular-toolbar 
                    class="wri_text-toolbar" 
                    name="note-toolbar">
                </text-angular-toolbar> 
            </div>

            <div 
                ng-if="ngDialogData.fullEditor && ngDialogData.type == 'question'" 
                class="mdl-layout__header-row --wri_background--contrast-dark interactive-row wri_editor__text-toolbar">
                <text-angular-toolbar 
                    class="wri_text-toolbar"
                    ta-toolbar="ngDialogData.toolbar" 
                    name="question-toolbar">
                </text-angular-toolbar> 
            </div>
        </header>
        <main class="mdl-layout__content --wri_scrollY-area --edit-mode">
            <section 
                class="wri_article__main-informations" 
                ng-class="{'--wri_text-center': !ngDialogData.fullEditor}">
                    <div 
                        ng-if="!ngDialogData.fullEditor"
                        class="wri_form__textfield mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="field" ng-model="ngDialogData.field" placeholder="{{ngDialogData.placeholder}}" required>
                        <label class="mdl-textfield__label" for="field"></label>
                    </div>

                    <div
                        ng-if="ngDialogData.type == 'note'" 
                        class="wri_article__main-informations__category mdl-shadow--4dp">
                        <div class="wri_article__main-informations__inside">
                            <text-angular 
                                ta-target-toolbars="note-toolbar" 
                                ta-focussed-class="no-style"
                                ng-model="ngDialogData.field.text">
                            </text-angular>
                        </div>
                    </div>

                    <div
                        ng-if="ngDialogData.type == 'question'" 
                        class="wri_article__main-informations__category mdl-shadow--4dp --wri_article-problematic">
                        <div class="wri_article__main-informations__inside">
                            <div class="wri_article__main-informations__title">
                                <span>Question</span>
                            </div>
                            <text-angular 
                                ta-target-toolbars="question-toolbar" 
                                ta-focussed-class="no-style"
                                ng-model="ngDialogData.field.problematic">
                            </text-angular>
                        </div>
                    </div>
                    <div
                        ng-if="ngDialogData.type == 'question'" 
                        class="wri_article__main-informations__category mdl-shadow--4dp --wri_article-solution">
                        <div class="wri_article__main-informations__inside">
                            <div class="wri_article__main-informations__title">
                                <span>Answer</span>
                            </div>
                            <text-angular 
                                ta-target-toolbars="question-toolbar" 
                                ta-focussed-class="no-style" 
                                ng-model="ngDialogData.field.answer">
                            </text-angular>
                        </div>
                    </div>
            </section>
        </main>
        <footer>
            <div class="wri_article-viewer__footer__actions --creating mdl-shadow--8dp">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect wri_article-viewer__footer__actions__action" ng-click="closeThisDialog()">
                    Cancel
                </button>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect --wri_background--contrast mdl-color-text--white wri_article-viewer__footer__actions__action --create" ng-class="{'--wri_disabled': ngDialogData.field == null || ngDialogData.field == ''}" ng-disabled="ngDialogData.field == null || ngDialogData.field == ''" ng-click="previewer.createItem()">
                    Create
                </button>
            </div>
        </footer>
    </div>
</div>