<div 
    class="wri_manage-select__item wri_item-list__question --wri_interactive mdl-shadow--4dp" 
    ng-class="{'--selectable': manageCtrl.selectMode, '--selected': question.isSelected}" 
    ng-repeat="question in questionsCtrl.questions | filter : filter | orderBy : order" 
    ng-click="manageCtrl.selectItem(question)" >
    <i class="material-icons wri_item-list__validator" ng-if="manageCtrl.selectMode"> {{question.isSelected? "check" : "add"}}</i>
    <div ng-bind-html="question.problematic">
    </div>
</div>
<button class="wri_manage-select__add-btn mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-shadow--8dp" ng-click="questionsCtrl.addQuestion()">
    <i class="material-icons">add</i>
</button>
