<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <span class="mdl-layout__title">{{element.title}}</span>
    </div>
    <div class="mdl-layout__header-row">
        <div class="article-infos">
                <div class="article-publication-details">
                    <span>{{element.conference}}</span>
                    <span>{{element.date}}</span>
                </div>
                <div class="article-score"><i class="material-icons">star</i>{{element.score}}</div>
        </div>
    </div>
    <div class="mdl-layout__header-row mdl-color--primary-dark interactive-row">
        <div class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent edit-button">
            <i class="material-icons">edit</i>
            <span class="mdl-button__ripple-container">
                <span class="mdl-ripple"></span>
            </span>
        </div>
        <ul class="article-viewer__status-list">
            <li class="mdl-button" ng-class="{'status-checked': element.status.saved}" ng-click="toggleStatus('saved')">Saved</li>
            <li class="mdl-button" ng-class="{'status-checked': element.status.read}" ng-click="toggleStatus('read')">Read</li>
            <li class="mdl-button" ng-class="{'status-checked': element.status.printed}" ng-click="toggleStatus('printed')">Printed</li>
        </ul>
    </div>
</header>
<main class="mdl-layout__content">
    <section class="article__main-informations">
        <div class="article__main-informations --article-problematic">
            <div class="article__main-informations__inside">
                <div class="article__main-informations__title">
                    <span>Problematic</span>
                </div>
                <p class="article__main-informations__value">
                    {{element.problematic}}
                </p>
            </div>
        </div>
        <div class="article__main-informations --article-solution">
            <div class="article__main-informations__inside">
                <div class="article__main-informations__title">
                    <span>Solution</span>
                </div>
                <p class="article__main-informations__value">
                    {{element.solution}}
                </p>
            </div>
        </div>
        <div class="article__main-informations --article-abstract">
            <div class="article__main-informations__inside">
                <div class="article__main-informations__title">
                    <span>Abstract</span>
                </div>
                <p class="article__main-informations__value">
                    {{element.abstract}}
                </p>
            </div>
        </div>
    </section>
    <section class="article__authors">
        <div class="article__authors__inside">
            <div class="article__authors__title">
                <span>Authors</span>
            </div>
            <ul class="article__authors__list">
                <li class="article__authors__list__author" ng-repeat="author in element.authors">
                    <span class="mdl-chip mdl-chip--contact" ng-click="openAuthorProfile(author.id)">
                        <img ng-if="author.imageUrl" class="mdl-chip__contact" src="{{author.imageUrl.small}}"></img>
                        <span ng-if="!author.imageUrl" class="mdl-chip__contact mdl-color--teal mdl-color-text--white">{{author.name | limitTo: 1}}</span>
                        <span class="mdl-chip__text">{{author.name}}</span>
                    </span>
                </li>
            </ul>
        </div>
    </section>
    <section class="article__keywords">
        <div class="article__keywords__inside">
            <div class="article__keywords__title">
                <span>Keywords</span>
            </div>
            <ul class="article__keywords__list">
                <li class="article__keywords__list__keyword" ng-repeat="keyword in element.keywords">
                    <span class="mdl-chip" ng-click="applyKeyboardFilter(keyword)">
                        <span class="mdl-chip__text">#{{keyword}}</span>
                    </span>
                </li>
            </ul>
        </div>
    </section>
    <section>
        <ul>
            <li>Reference 1</li>
            <li>Reference 2</li>
            <li>Reference 3</li>
        </ul>
    </section>
    <section>
        <article>Note 1</article>
        <article>Note 2</article>
    </section>
</main>
<footer>
    <div></div>
</footer>